@{
    ViewBag.Title = "Create";
}
<div class="col-lg-9 col-lg-offset-3">
    <h2>Add Anime to index</h2>
</div>




@using (Html.BeginForm())
{
    @Html.Partial("_CreateEdit")

    <div class="form-group">
        <div class="col-md-offset-7 col-md-5">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    <div class="col-lg-9 col-lg-offset-3">
        <p>
            @Html.ActionLink("Show site roles", "Index", "Roles")
        </p>
    </div>
        }

